
@{
    ViewBag.Title = "Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card-header">
    <h2>
        Assets
    </h2>

</div>
<div class="card-body card-padding">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="form-group fg-line">

                <select class="selectpicker" data-live-search="true" title='slect an employee'>
                    <option>Vinathi</option>

                </select>
            </div>
        </div>
    </div>
</div>
