
@{
    ViewBag.Title = "EmployeeDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card-header">
    <h2>
        Employee Documents
    </h2>

</div>
<div class="card-body card-padding">

</div>