
@{
    ViewBag.Title = "PassportVisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-header">
    <h2>
        Passport Visa
    </h2>
   
</div>
<div class="card-body card-padding" id="profile-main">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="form-group fg-line">

                <select class="selectpicker" data-live-search="true" title='slect an employee'>
                    <option>Vinathi</option>

                </select>
            </div>
        </div>
    </div>
  
        

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="pmb-block p-t-0">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-accounts-list m-r-10"></i> Passport </h2>

                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-ma-action="profile-edit">
                                        Add
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Edit</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="pmbb-body p-l-0">
                            <div class="pmbb-view">
                                <div class="pmb-block  p-l-5 p-0" style="border-bottom: 1px solid #eee;">
                                    <div class="pmbb-header">


                                        <ul class="actions">
                                            <li class="dropdown">
                                                <a href="" data-toggle="dropdown">
                                                    <i class="zmdi zmdi-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a data-ma-action="profile-edit" href="">Edit</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="pmbb-view">

                                            <dl class="dl-horizontal">
                                                <dt>SELF</dt>
                                                <dd>  #1235 - [Valid till 19 May 2017] - Expiring in 16 days
 </dd>
                                            </dl>
                                        </div>

                                        <div class="pmbb-edit">

                                            <br /><br />

                                            <div class="card">
                                                <div class="card-body card-padding">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Name
                                                                </label>

                                                                <select class="selectpicker">
                                                                    <option>Self</option>
                                                                    <option>Manohar[Father]</option>

                                                                </select>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label> Sur Name </label>
                                                                <input type="text" class="form-control">



                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Middle Name
                                                                </label>

                                                                <input type="text" class="form-control">

                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label> Given Name </label>
                                                                <input type="text" class="form-control">



                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Passport Address1
                                                                </label>

                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Passport Address2
                                                                </label>

                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Passport Address3

                                                                </label>
                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Currently With

                                                                </label>
                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Country
                                                                </label>

                                                                <select class="selectpicker">
                                                                    <option>India</option>
                                                                    <option>Others</option>

                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Passport No
                                                                </label>

                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>Passport Type</label>

                                                                <select class="selectpicker">
                                                                    <option>Diplomatic</option>
                                                                    <option>Hajj passport</option>

                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>Issue Place</label>

                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>Issue City</label>

                                                                <select class="selectpicker">
                                                                    <option>Diplomatic</option>
                                                                    <option>Hajj passport</option>

                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>Issue Date</label>

                                                                <div class="input-group form-group">
                                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                                    <div class="dtp-container">
                                                                        <input type='text' class="form-control date-picker"
                                                                               placeholder="Click here...">
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>Valid Till</label>

                                                                <div class="input-group form-group">
                                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                                    <div class="dtp-container">
                                                                        <input type='text' class="form-control date-picker"
                                                                               placeholder="Click here...">
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="m-t-30">
                                                        <button class="btn btn-primary btn-sm">Save</button>
                                                        <button data-ma-action="profile-edit-cancel" class="btn bgm-gray waves-effect btn-sm">Cancel</button>
                                                        <button data-ma-action="profile-edit-delete" class="btn bgm-gray waves-effect btn-sm">Delete</button>

                                                    </div>
                                                </div>
                                            </div>

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pmbb-edit">


                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">
                                        Document Type
                                    </dt>
                                    <dd>
                                        <select class="selectpicker" data-live-search="true">
                                            <option>Driving License</option>
                                            <option>Election Card</option>

                                        </select>
                                    </dd>
                                </dl>


                                <div class="m-t-30">
                                    <button class="btn btn-primary btn-sm">Save</button>
                                    <button data-ma-action="profile-edit-cancel" class="btn btn-link btn-sm">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="pmb-block p-t-0">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-accounts-list m-r-10"></i> Visa </h2>

                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-ma-action="profile-edit">
                                        Add
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Edit</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="pmbb-body p-l-0">
                            <div class="pmbb-view">
                                <div class="pmb-block  p-l-5 p-0" style="border-bottom: 1px solid #eee;">
                                    <div class="pmbb-header">


                                        <ul class="actions">
                                            <li class="dropdown">
                                                <a href="" data-toggle="dropdown">
                                                    <i class="zmdi zmdi-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a data-ma-action="profile-edit" href="">Edit</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="pmbb-view">

                                            <dl class="dl-horizontal">
                                                <dt>Anushree Patel [Wife]</dt>
                                                <dd>
                                                    #123 H-1B1 - [Valid till 16 May 2017] - Expiring in 13 days
                                                </dd>
                                            </dl>
                                        </div>

                                        <div class="pmbb-edit">

                                            <br /><br />

                                            <div class="card">
                                                <div class="card-body card-padding">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Name
                                                                </label>

                                                                <select class="selectpicker">
                                                                    <option>Self</option>
                                                                    <option>Manohar[Father]</option>

                                                                </select>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Country
                                                                </label>

                                                                <select class="selectpicker">
                                                                    <option>India</option>
                                                                    <option>Others</option>

                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Country
                                                                </label>

                                                                <select class="selectpicker">
                                                                    <option>India</option>
                                                                    <option>Others</option>

                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>Visa Type</label>

                                                                <select class="selectpicker">
                                                                    <option>Diplomatic</option>
                                                                    <option>Hajj passport</option>

                                                                </select>

                                                            </div>
                                                           
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>
                                                                    Visa No
                                                                </label>

                                                                <div class="fg-line">
                                                                    <input type="text" class="form-control">

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                  
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group fg-line">
                                                                <label>Issue Date</label>

                                                                <div class="input-group form-group">
                                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                                    <div class="dtp-container">
                                                                        <input type='text' class="form-control date-picker"
                                                                               placeholder="Click here...">
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group fg-line">
                                                                <label>Valid Till</label>

                                                                <div class="input-group form-group">
                                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                                    <div class="dtp-container">
                                                                        <input type='text' class="form-control date-picker"
                                                                               placeholder="Click here...">
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="m-t-30">
                                                        <button class="btn btn-primary btn-sm">Save</button>
                                                        <button data-ma-action="profile-edit-cancel" class="btn bgm-gray waves-effect btn-sm">Cancel</button>
                                                        <button data-ma-action="profile-edit-delete" class="btn bgm-gray waves-effect btn-sm">Delete</button>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pmbb-edit">


                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">
                                        Document Type
                                    </dt>
                                    <dd>
                                        <select class="selectpicker" data-live-search="true">
                                            <option>Driving License</option>
                                            <option>Election Card</option>

                                        </select>
                                    </dd>
                                </dl>


                                <div class="m-t-30">
                                    <button class="btn btn-primary btn-sm">Save</button>
                                    <button data-ma-action="profile-edit-cancel" class="btn btn-link btn-sm">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> </div>





</div>