
@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h2>
        Branch Profile
    </h2>
</div>
    <div class="card-body card-padding p-t-15 p-b-15" id="profile-main" ng-controller="branchController">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-BranchCode">Branch Code</lable>

                    <input type="text" id="txt-BranchCode" ng-model="Branch.BranchCode" class="form-control" />
                </div>
            </div> <div class="col-sm-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-Name">Registration No.</lable>

                    <input type="text" id="txt-RegistrationNo" ng-model="Branch.RegNo" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-BranchName">Branch Name</lable>

                    <input type="text" id="txt-BranchName" class="form-control" ng-model="Branch.BranchName" />
                </div>
            </div>   <div class="col-sm-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-CompanyCode">Company Code.</lable>

                    <input type="text" id="txt-CompanyCode" class="form-control" disabled ng-model="Branch.CompanyCode" />
                </div>
            </div>
        </div>
        <div class="pmbb-header m-b-15">Address</div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-Address1">Address1</lable>
                    <input type="text" class="form-control" id="txt-Address1" placeholder="Address1" ng-model="Branch.Address.Address1" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-Address2">Address2</lable>
                    <input type="text" class="form-control" id="txt-Address2" placeholder="Address2" ng-model="Branch.Address.Address2" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-City">City</lable>

                    <input type="text" id="txt-City" ng-model="Branch.Address.CityName" class="form-control"  />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-State">State</lable>

                    <input type="text" id="txt-State" ng-model="Branch.Address.StateName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-ZIPCode">ZIP Code</lable>
                    <input type="text" id="txt-ZIPCode" ng-model="Branch.Address.ZipCode" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-Country">Country</lable>
                    <select class="form-control" ng-model="ddlCountry"
                            ng-change="onChangeCounrtyCode()" ng-options="Country.CountryName for Country in Countries">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-PhoneNo">Phone No</lable>
                    <input type="text" id="txt-PhoneNo" ng-model="Branch.Address.MobileNo" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-Fax">Fax</lable>
                    <input type="text" id="txt-Fax" ng-model="Branch.Address.FaxNo" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-WebSite">Email</lable>
                    <input type="text" id="txt-WebSite" class="form-control" ng-model="Branch.Address.Email" />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group fg-line">
                    <lable id="lbl-WebSite">Web Site</lable>
                    <input type="text" id="txt-WebSite" class="form-control" ng-model="Branch.Address.WebSite" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <button type="Submit" id="btn-Save" class="btn btn-primary btn-sm waves-effect" ng-click="onSaveBranchDetails(Branch)">Save</button>
                <button type="button" id="btn-Delete" class="btn btn-danger btn-sm waves-effect"> Delete </button>


            </div>
            <div class="col-xs-12 col-md-6 text-right">
                <button type="button" class="btn btn-default btn-sm waves-effect" id="btn-Clear">Clear</button><button type="button" id="btn-Back" class="btn btn-primary btn-sm waves-effect"> Back </button>

            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('HRAPP', []);
    app.controller('branchController', ['$scope', '$http', function ($scope, $http) {
        $scope.init = function () {
            $scope.Branch = {
                BranchName: null,
                BranchCode: null,
                CompanyCode: null,
                CompanyName: null,
                RegNo: null,
                Address: {
                    Address1: null,
                    Address2: null,
                    CityName: null,
                    StateName: null,
                    ZipCode: null,
                    MobileNo: null,
                    FaxNo: null,
                    Email: null,
                    CountryCode: null
                },
            },
            $scope.ddlCountry = null,
            $scope.Countries = [];
        }
        $http.get("/Company/GetCountries").then(function (response) {
            if (response.data != null) {
                $scope.Countries = response.data;
            }
        });
        $scope.onChangeCounrtyCode = function () {
            $scope.Branch.Address.CountryCode = $scope.ddlCountry.Id;
        }
        $scope.onSaveBranchDetails = function(branch){
            $http.post('/Branch/SaveBranchDetails', branch).then(function(response){})
        }
    }]);

    //$(document).ready(function () {

    //    $.ajax({
    //        url: '/Company/GetCountries',
    //        type: "POST",
    //        dataType: "json",
    //        async: false,
    //        contentType: 'application/json, charset=utf-8',
    //        success: function (data) {
    //            $.each(data, function (index, elem) {
    //                $('#ddl-Country').append($("<option value='" + elem.Id + "'>" + elem.CountryName + "</option>"));
    //            })
    //        },
    //        error: function (e, data) {
    //            notify("error", '');
    //        }
    //    });
    //    $('#btn-Save').click(function () {
    //        $.ajax({
    //            url: "/Branch/SaveBrachDetails",
    //            type: "POST",
    //            dataType: "json",
    //            async: false,
    //            contentType: 'application/json, charset=utf-8',
    //            data: JSON.stringify({
    //                branchViewModel: {
    //                    BranchCode: $('#txt-BranchCode').val(),
    //                    BranchName: $('#txt-BranchName').val(),
    //                    RegNo: $('#txt-RegistrationNo').val(),
    //                    IsActive: true,
    //                    CompanyCode: $('#txt-CompanyCode').val(),
    //                    AddressID: $('#txt-Address1').val(),
    //                }
    //            })
    //        })
    //    })
    //})
</script>
