
@{
    ViewBag.Title = "EmployeeITDeclaration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card-header">
    <h2>
        Employee IT Declaration
    </h2>

</div>
<div class="card-body card-padding" id="profile-main">

    <div class="row m-t-25">
        <div class="col-sm-12 ">
            <div class="" id="profile-main">
                <div class="pm-body clearfix p-0">
                    <div class="form-wizard-basic fw-container">
                        <ul class="tab-nav text-left">
                            <li><a href="#Release-Lock" data-toggle="tab">Release / Lock</a></li>
                            <li><a href="#Consider-Declarations" data-toggle="tab"> Consider Declarations </a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade" id="Release-Lock">
                                <div class="card">
                                    <div class="card-body card-padding">

                                        <div class="row">

                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>status</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>LOCKED</option>
                                                        <option>UnLOCKED</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Employee</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Employee</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Declaration Status</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Join Date</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped expense-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Employee No
                                                </th>
                                                <th>Employee Name</th>
                                                <th>Join Date</th>
                                                <th>Last Modified Date</th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>010#</td>
                                                <td>Vinathi</td>
                                                <td>02/01/17</td>
                                                <td>01/05/2017</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="row m-t-25 text-right">
                                    <div class="col-xs-12">
                                        <a href="" class="btn btn-primary waves-effect btn-sm">  Lock Selected</a>

                                        <a href="" class="btn btn-primary waves-effect btn-sm"> Lock All</a>

                                        <a href="" class="btn btn-primary waves-effect btn-sm"> Release Selected</a>

                                        <a href="" class="btn btn-primary waves-effect btn-sm"> Release All</a>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane fade" id="Consider-Declarations">
                                <div class="card">
                                    <div class="card-body card-padding">

                                        <div class="row">

                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>status</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>LOCKED</option>
                                                        <option>UnLOCKED</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Employee</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Employee</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Declaration Status</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>Join Date</label>
                                                    <select class="selectpicker" data-live-search="true" title='filter'>
                                                        <option>All</option>
                                                        <option>Jan 2017</option>

                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped expense-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="checkbox m-b-15">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            <i class="input-helper"></i>
                                                            Conv.Exemption

                                                        </label>
                                                    </div>
                                                </th>
                                                <th>
                                                    Employee No
                                                </th>
                                                <th>Employee Name</th>
                                                <th>View Declaration</th>
                                                <th>Submitted On</th>
                                                <th>Considered From</th>
                                                <th>Considered on</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox m-b-15">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            <i class="input-helper"></i>
                                                            Conv.Exemption

                                                        </label>
                                                    </div>
                                                </td>
                                                <td>010#</td>
                                                <td>Vinathi</td>
                                                <td>02/01/17</td>
                                                <td>01/05/2017</td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="row m-t-25 text-right">
                                    <div class="col-xs-12">
                                        <a href="" class="btn btn-primary waves-effect btn-sm">  Consider</a>

                                        <a href="" class="btn btn-primary waves-effect btn-sm"> Consider All</a>

                                        <a href="" class="btn btn-primary waves-effect btn-sm"> Export to Excel</a>

                                    </div>
                                </div>


                            </div>
                            <ul class="fw-footer pagination wizard">
                                @*<li >

                                        <a href="@Url.Action("Salary","PayrollInputs",new { area ="Payroll"},null)" class="btn btn-primary waves-effect btn-sm">

                                            Back To Salary
                                        </a>
                                    </li>*@
                                <li class="previous first">
                                    <a class="a-prevent" href="">
                                        <i class="zmdi zmdi-more-horiz"></i>
                                    </a>
                                </li>
                                <li class="previous">
                                    <a class="a-prevent" href="">
                                        <i class="zmdi zmdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="next">
                                    <a class="a-prevent" href="">
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </a>
                                </li>
                                <li class="next last">
                                    <a class="a-prevent" href="">
                                        <i class="zmdi zmdi-more-horiz"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
