
@{
    ViewBag.Title = "PartBGenerate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h2>
        Form16 PartB

    </h2>

</div>

<div class="card-body card-padding" id="profile-main">
</div>

