
@{
    ViewBag.Title = "SettleEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-header">
    <h2>
        Settle Employee
    </h2>

</div>
<div class="card-body card-padding" id="profile-main">
    <div class="row">
        <div class="col-sm-12">

            <!--      Wizard container        -->
            <div class="wizard-container">

                <div class="wizard-card m-t-20" data-color="orange" id="wizardProfile">
                    <form action="" method="post">
                        <!--        You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"          -->
                        @*<div class="wizard-header text-center">
                                <h3 class="wizard-title">Create your profile</h3>
                                <p class="category">This information will let us know more about you.</p>
                            </div>*@

                        <div class="wizard-navigation">
                            <div class="progress-with-circle">
                                <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#Employee" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="zmdi zmdi-arrow-right"></i>
                                        </div>

                                    </a>
                                    <span> Employee</span>
                                </li>
                                <li>
                                    <a href="#Resignation-Details" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="zmdi  zmdi-arrow-right"></i>
                                        </div>

                                    </a>
                                    <span> Resignation Details </span>
                                </li>
                                <li>
                                    <a href="#Notice-Pay" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="zmdi  zmdi-arrow-right"></i>
                                        </div>

                                    </a>
                                    <span>Notice Pay</span>
                                </li>
                                <li>
                                    <a href="#Work-Days" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="zmdi  zmdi-arrow-right"></i>
                                        </div>

                                    </a>
                                    <span>Work Days</span>
                                </li>
                                <li>
                                    <a href="#Leave-Encashment" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="zmdi  zmdi-arrow-right"></i>
                                        </div>

                                    </a>
                                    <span>Leave Encashment</span>
                                </li>
                                <li>
                                    <a href="#Remarks" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="zmdi  zmdi-arrow-right"></i>
                                        </div>

                                    </a>
                                    <span>Remarks</span>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane  m-t-20" id="Employee">

                                <h5 class="f-500 c-black p-15 f-14">Employee</h5>
                                <div class="card">
                                    <div class="card-body card-padding">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <label class="radio radio-inline m-r-20">
                                                    <input type="radio" name="sEmployee" value="Employee1">
                                                    <i class="input-helper"></i>
                                                    Separated Employee 
                                                </label>

                                                <label class="radio radio-inline m-r-20">
                                                    <input type="radio" name="sEmployee" value="Employee2">
                                                    <i class="input-helper"></i>
                                                    Search Employee 
                                                </label>
                                            </div>

                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>0 employee(s) to be settled
</label>
                                                    <select class="selectpicker" data-live-search="true">
                                                       
                                                            <option></option>
                                                       

                                                    </select>
                                                </div>
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Search Employee 
                                                    </label>
                                                    <select class="selectpicker" data-live-search="true">

                                                        <option>Vinathi</option>


                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                  
                                      
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  m-t-20" id="Resignation-Details">
                                <h5 class="f-500 c-black p-15 f-14"> Resignation Details </h5>
                                <div class="card">
                                    <div class="card-body card-padding">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Resignation Submitted On


                                                    </label>
                                                    <div class="input-group form-group">
                                                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                        <div class="dtp-container">
                                                            <input type='text' class="form-control date-picker"
                                                                   placeholder="Click here...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Leaving Date
                                                    </label>
                                                    <div class="input-group form-group">
                                                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                        <div class="dtp-container">
                                                            <input type='text' class="form-control date-picker"
                                                                   placeholder="Click here...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Leaving Reason


                                                    </label>
                                                    <select class="selectpicker" data-live-search="true">
                                                        <option>EXPIRED</option>
                                                        <option>ABANDONED</option>
                                                        <option>CONTRACT EXPIRY</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Settlement Date


                                                    </label>
                                                    <div class="input-group form-group">
                                                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                        <div class="dtp-container">
                                                            <input type='text' class="form-control date-picker"
                                                                   placeholder="Click here...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane  m-t-20" id="Notice-Pay">
                                <h5 class="f-500 c-black p-15 f-14">Notice Pay </h5>
                                <div class="card">
                                    <div class="card-body card-padding">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="col-xs-12 col-md-6">
                                                    <div class="checkbox m-b-15">
                                                        <label>
                                                            <input type="checkbox" value="" id="chk1">
                                                            <i class="input-helper"></i>
                                                            Include PF

                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>Notice Period<small>(days)</small>
</label>
                                                    <input class="form-control input-mask" value="100" autocomplete="off" type="text">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        No of Days Served<small>(days)</small>
                                                    </label>
                                                    <input class="form-control input-mask" value="100" autocomplete="off" type="text" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Shortfall in Notice
<small>(days)</small>
                                                    </label>
                                                    <input class="form-control input-mask" value="100" autocomplete="off" type="text">
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane  m-t-20" id="Work-Days">
                                <h5 class="f-500 c-black p-15 f-14">Work Days </h5>
                                <div class="card">
                                    <div class="card-body card-padding">
                                        <dl class="dl-horizontal">
                                            <dt>Last working day :</dt>
                                            <dd>09 May 2017 </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Last paid month :</dt>
                                            <dd>Dec 2016  </dd>
                                        </dl>
                                    </div>
                                    <hr />


                                    <div class="card-body card-padding">
                                        <div class="row">
                                            <div class="col-sm-12  col-md-6">
                                                <div class="table-responsive">
                                                    <table class="table table-striped expense-table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Payroll Month
                                                                </th>
                                                                <th>Work Days </th>
                                                                <th>	Days Worked</th>


                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="2">
                                                                    No. of Days Worked
                                                                </th>
                                                                <th><input type="text" class="form-control" disabled /> </th>



                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Jan 2017
                                                                </td>
                                                                <td>31</td>
                                                                <td><input type="text" class="form-control" /></td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                    <div class="tab-pane  m-t-20" id="Leave-Encashment">
                                        <h5 class="f-500 c-black p-15 f-14">Leave Encashment </h5>
                                        <div class="card">
                                            <div class="card-body card-padding">
                                                <div class="row">
                                                    <div class="col-sm-12  col-md-6">

                                                        <div class="form-group fg-line">
                                                            <label>
                                                                Leave Type

                                                            </label>
                                                           <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12  col-md-6">

                                                        <div class="form-group fg-line">
                                                            <label>
                                                                Encash Days

                                                            </label>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane  m-t-20" id="Remarks">
                                        <h5 class="f-500 c-black p-15 f-14">Remarks </h5>
                                        <div class="card">
                                            <div class="card-body card-padding">
                                                <div class="row">
                                                    <div class="col-sm-12  col-md-6">

                                                        <div class="form-group fg-line">
                                                            <label>
                                                                Remarks
                                                            </label>
                                                            <textarea class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btns bgm-lightblue btn-sm waves-effect btn-next btn-wd' name='next' value='Next' />
                                        <input type='button' class='btns bgm-green btn-sm waves-effect btn-finish  btn-wd' name='finish' value='Finish' onclick="window.location.href='@Url.Action("EmployeeDirectory","Main",new { area ="Employee"},null)'" />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btns bgm-lightblue btn-sm waves-effect btn-previous btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
</form>
                </div>
            </div> <!-- wizard container -->

        </div>
    </div>
</div>
